datajoint>=0.13
element-lab
element-animal
element-session
element-miniscope @ git+https://github.com/datajoint/element-miniscope.git
element-data-loader @ git+https://github.com/datajoint/element-data-loader.git
djarchive-client @ git+https://github.com/datajoint/djarchive-client.git