datajoint>=0.13.0
djarchive-client @ git+https://github.com/datajoint/djarchive-client.git
element-animal>=0.1.2
element-event @ git+https://github.com/datajoint/element-event.git
element-interface @ git+https://github.com/datajoint/element-interface.git
element-lab>=0.1.1
element-miniscope @ git+https://github.com/datajoint/element-miniscope.git
element-session>=0.1.2
jupytext>=1.13.7
