datajoint>=0.13.0
djarchive-client @ git+https://github.com/datajoint/djarchive-client.git
element-animal>=0.1.2
element-event
element-interface>=0.5.0
element-lab>=0.1.1
element-miniscope
element-session>=0.1.2
